* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  padding: 10px 5px;

  .logo-container {
    align-items: center;
    width: 100%;
    margin: auto;

    h3 {
      margin: 0;
    }
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.main {
  height: 100dvh;
  max-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 25px;
}

.cryptocurrencies {
  display: flex;
  align-items: center;

  .cryptocurrencies-container {
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 25px;

    .card-container {
      width: 95% !important;
      max-width: 500px !important;
    }
  }

  &.not-simplified {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      width: 100%;
      &:nth-child(1) {
        max-width: 400px;
      }
    }
  }
}

.news {
  display: flex;
  align-items: center;

  .news-container {
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 25px;

    .card-container {
      width: 95% !important;
      max-width: 500px !important;
    }
  }

  &.not-simplified {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      width: 100%;

      &:nth-child(1) {
        max-width: 500px;

        .news__input {
          @media screen and (max-width: 400px) {
            display: flex !important;
            flex-direction: column !important;
          }

          & > *:nth-child(2) {
            flex: 1;
            min-width: 150px;
          }
        }
      }
    }
  }
}

.homepage-container {
  display: flex;
  flex-direction: column;
  row-gap: 45px;

  .home-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2,
    h3 {
      margin: 0;
    }
  }
}

.layout__aside {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-color: #001529 !important;
  color: #fff !important;
}

.layout__footer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
