* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  padding: 10px 5px;

  .logo-container {
    align-items: center;
    width: 100%;
    margin: auto;

    h3 {
      margin: 0;
    }
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.main {
  min-height: 100dvh;
  overflow-x: hidden;
  padding: 50px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cryptocurrencies {
  display: flex;
  align-items: center;

  .cryptocurrencies-container {
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 25px;

    .card-container {
      width: 95% !important;
      max-width: 500px !important;
    }
  }

  &.not-simplified {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      width: 100%;
      &:nth-child(1) {
        max-width: 400px;
      }
    }
  }
}

.main__page-item {
  min-height: calc(100dvh - 280px) !important;
}

.news {
  display: flex;
  align-items: center;

  .news-container {
    text-align: left !important;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 25px;

    .card-container {
      width: 95% !important;
      max-width: 500px !important;

      @media screen and (max-width: 250px) {
        p {
          display: none;
        }
      }

      .news__header {
        display: flex;
        column-gap: 10px;

        & > * {
          font-size: 15pt !important;
        }

        @media screen and (max-width: 400px) {
          flex-direction: column;
          align-items: center;

          & > * {
            font-size: 11pt !important;
          }

          img {
            order: 1;
          }

          h3 {
            order: 2;
          }
        }

        img {
          width: 90px;
          border-radius: 5px;
          margin: 5px;
        }
      }

      .news-date {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 400px) {
          row-gap: 10px;
          flex-direction: column;
        }
      }
    }
  }
  &.not-simplified {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      width: 100%;

      &:nth-child(1) {
        max-width: 500px;

        .news__input {
          @media screen and (max-width: 400px) {
            display: flex !important;
            flex-direction: column !important;
          }

          & > *:nth-child(2) {
            flex: 1;
            min-width: 150px;
          }
        }
      }
    }
  }
}

.homepage-container {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  width: 100%;

  .home-heading {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2,
    h3 {
      @media screen and (max-width: 400px) {
        font-size: 12pt;
        width: 100%;
      }
      margin: 0;
    }

    a {
      @media screen and (max-width: 400px) {
        font-size: 10pt;
        width: 100%;
      }
    }
  }
}

@mixin makeColumn {
  display: flex;
  flex-direction: column;
}

.coin-details-container {
  width: 98%;
  max-width: 1100px;
  @include makeColumn();
  align-items: center;
  text-align: center;
  row-gap: 40px;

  .stats-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;

    .coin-statistics-container {
      @include makeColumn();
      row-gap: 25px;
      max-width: 500px;

      .stats-body {
        @include makeColumn();
        row-gap: 5px;

        .coin-stats {
          border-bottom: 1px solid rgba(0, 0, 0, 0.356);
          justify-content: space-between;
          align-items: center;
          padding: 20px 15px;
          transition: background-color 400ms ease;
          row-gap: 15px;
          column-gap: 10px;

          &:hover {
            cursor: pointer;
            background-color: #fff;
          }

          & * {
            font-size: 14pt;
          }

          &-name {
            column-gap: 15px;
            align-items: center;
          }

          &-value {
            font-weight: 600;
          }
        }
      }
    }
  }

  .coin-desc-link {
    @include makeColumn();
    row-gap: 30px;

    .coin-links {
      max-width: 1100px;
      @include makeColumn();
      row-gap: 5px;

      .coin-link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.356);
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        transition: background-color 400ms ease;
        row-gap: 15px;
        column-gap: 10px;

        &:hover {
          cursor: pointer;
          background-color: #fff;
        }

        & > * {
          margin: 0;
        }
      }
    }
  }
}

.chart-header {
  width: 100%;
  justify-content: space-between;

  .price-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;

    & > * {
      font-size: 11pt;
      font-weight: 400;
      margin: 0 !important;
    }
  }
}

.coin-exchanges-container {
  @include makeColumn();
  row-gap: 30px;
}

.layout__aside {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-color: #001529 !important;
  color: #fff !important;
}

.layout__footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 100%;
  color: #fff;
  background-color: #001529 !important;
  border-radius: 5px;
  margin-top: 30px;
}
